/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #f1f1f1; /* Texto padrão claro para o fundo escuro */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Impede que o fundo role com o conteúdo */
  background-color: #475af5;
  /* Garante que o app ocupe a tela toda */
  min-height: 100vh;
  width: 100vw;

  /* Centraliza o conteúdo (o "card") no meio da tela */
  display: flex;
  align-items: center;
  justify-content: center;
}